* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #A6CDC6;
    text-align: center;
}

h1 {
    font-size: 3.6rem;
    color: #11323c;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.2vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.8rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 4.6rem;
    color: #f36e6e;
    background-color: #e1e5d3;
}

.box:hover{
    cursor: pointer;
    opacity: 90%;
}

#reset-btn {
    margin-top: 1.5rem;
    gap: 20px;
    padding: 1rem;
    font-size: 1.2rem;
    color: #133a45;
    background-color: #DDA853;
    border-radius: 3rem;
    border: black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.end-btns {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 55px;
}

#new-btn {
    margin-top: 1.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    color: #133a45;
    background-color: #DDA853;
    border-radius: 3rem;
    border: black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

#res-btn:hover {
    cursor: pointer;
    opacity: 90%;
}

#new-btn:hover {
    cursor: pointer;
}

#reset-btn:hover {
    cursor: pointer;
}

p {
    color: rgba(193, 103, 50, 0.795);
    font-size: 2.6rem;
    font-weight: 600;
}

.hide {
    display: none;
}